.PropertiesPanel {
  width: 320px;
  background-color: #3d4b6c;
  height: 100vh;
}

.Collapsible {
  margin-bottom: 2px;
}

.Collapsible-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #28334d;
  border: none;
  padding: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.Collapsible-content {
  margin: 8px;
}

.Prism-container {
  position: "relative";
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: "center";
  border-radius: 10px;
  background-color: #3d4b6c;
}

.margin-grid {
  display: grid;
  grid-template-areas:
    ". top ."
    "left center right"
    ". bottom .";
  grid-template-columns: auto 1fr auto; 
  grid-template-rows: auto 150px auto; 
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.margin-input {
  width: 30px;
  padding: 3px;
  background-color: transparent;
  border: 0px;
  text-align: center;
  color: #fff;
}

.margin-input:focus{
  background-color: #28334d;
  border: 1px solid rgb(47, 151, 243);
}


.margin-input.top {
  grid-area: top;
}

.margin-input.left {
  grid-area: left;
}

.margin-input.right {
  grid-area: right;
}

.margin-input.bottom {
  grid-area: bottom;
}

/* Inner content box holding padding grid */
.content-box {
  grid-area: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 180px;
  border: 5px solid #28334d;
  border-radius: 10px;
}

/* Inner grid for paddings */
.padding-grid {
  display: grid;
  grid-template-areas:
    ". top ."
    "left center right"
    ". bottom .";
  grid-template-columns: auto 80px auto;
  grid-template-rows: auto 100px auto;
  gap: 5px;
  align-items: center;
  justify-items: center;
}

/* Padding input styles */
.padding-input {
  width: 30px;
  padding: 3px;
  background-color: transparent;
  border: 0px;
  text-align: center;
  color: #fff;
}

.padding-input:focus {
  background-color: #28334d;
  border: 1px solid rgb(47, 151, 243);
}

.padding-input.top {
  grid-area: top;
}

.padding-input.left {
  grid-area: left;
}

.padding-input.right {
  grid-area: right;
}

.padding-input.bottom {
  grid-area: bottom;
}

